.row{
  display: flex;
  flex-direction: row;
  margin-left: 50px;
}
.detalle2{
  display: flex;
  flex-direction: column;

  margin-left: 50px;
}

.fotos_pasteles_detalles{

  margin-bottom: 20px;
  border: 2px solid grey;
  width: 200px;
  height: 200px;
}
.title_cal{
  color: blueviolet;
}
